
@font-face {
    font-family: 'AxisStd-Light';
    src: url('../font/ca94208f-21dd-4dc8-ab7c-057d8dbfcccb.woff2') format('woff');
}
@font-face {
    font-family: 'AxisStd-Regular';
    src: url('../font/d226afef-6536-4b18-9b28-defffcc4baae.woff2') format('woff');
}
body {
    margin: 0;
    z-index: 0;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

/*------ 飛び出すheaderのコーディング ------*/
.fix-header {
	background-color:#FFFFFF;
	line-height: 40px;
	top: -60px;
	left: 0;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: #272727;
	padding-top:0;
	position: fixed;
	opacity:0;
	z-index: 1000;
	}
.fix-header-contents {
		width:1040px;
        margin: 4px auto;
        display: flex;
        justify-content: space-between;
        text-align: center;
}
.fix-header-logo img {
    display: block;
    padding-top: 3px;
    margin: 7px 0;
}
.fix-header-menus {
    display: flex;
    align-items: center;
}
.fix-header-menus p {
    font-size: 11px;
    line-height: 15px;
    color: #8d959c;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Light';
    display: inline-block;
    text-align: left;
    margin: 0;
}
.fix-header-menus a {
    font-size: 15px;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Regular';
    color: #1f286f;
    display: inline-block;
    border: 1px solid #272727;
    width: 170px;
    height: 33px;
    padding-bottom: 5px;
    position: relative;
    transition: background-color 0.2s;
    transition: color 0.2s;
}
.fix-header-menus a::after {
    content: "";
    background-image: url("../image/icon_right_blue01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 9px;
    width: 7px;
    top: 16px;
    right: 10px;
}
.fix-header-menus a:hover {
    background-color: #1f286f;
    color: #FFFFFF;
}
.fix-header-menus a:hover::after {
    background-image: url("../image/icon_right_white01.png");
}
.fix-header-menus li {
    padding-left: 10px;
}
.fix-header-menus ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
}
.fix-header-menus img {
    margin-right: 11px;
}

/* ------ headerコーディング ------ */
/* header-TOPグローバルナビ */
.top-nav {
    background-color: #F8F8F8;
    width: 100%;
    display: block;
    
}
.guide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'AxisStd-Regular';
    width: 1040px;
    margin: 0 auto;
    padding: 0 10px;
}
.guide p {
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.05em;
    margin: 0;
}
.guide ul.guide-link {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
}
.guide .guide-link li.boder a {
    border-left: 1px solid #272727;
}
.guide .guide-link li.nkou-icon {
    background-image: url(../image/header_mainlogo_pc01.png);
    background-repeat: no-repeat;
    background-position: 8px 5px;
    background-color: #DDDDDD;
    
}
.guide .guide-link li.nkou-icon  a {
   padding: 10px 8px 10px 30px;
}

.guide .guide-link a {
    color: #333;
    font-size: 11px;
    letter-spacing: 0.05em;
    display: block;
    padding: 0 8px;
}
.guide .guide-link a:hover {
    text-decoration: underline;
}


/* header-main */
.header-main {
    font-family: 'AxisStd-Regular';
    width: 1040px;
    padding: 0 10px;
    margin: 0 auto;
}
.header-main .nkou-info {
    margin-top: 20px;
    display: flex;
    position: relative;
}
.header-main .nkou-info .tel-sns {
    width: 211px;
    position: absolute;
    right: 140px;
    top: -8px;
    display: flex;
}
.header-main .nkou-info .tel-sns p {
    font-size: 11px;
    color: #8d959c;
    letter-spacing: 0.05em;
    font-family: 'AxisStd-Regular';
    text-align: center;
    margin: 3px 0 0 13px;
}
.header-main .nkou-info .tel-sns .sns-btn ul {
    display: flex;
    padding-left: 35px;
}
.header-main .nkou-info .tel-sns .sns-btn li {
    list-style-type: none;
    padding-right: 8px;
}

/* headerグローバルナビ */
.globalnav-current {
    margin-top: 25px;
    display: flex;
    align-items: center;
    position: relative;
}
.globalnav-left ul {
    display: flex;
    padding-left: 0;
    margin: 0;
}
.globalnav-left li {
    line-height: 1.1;
    margin-right: 1px;
    font-size: 15px;
    font-family: 'AxisStd-Regular';
}
.globalnav-left a {
    text-decoration: none;
    color: #1f286f;
    letter-spacing: 0.15em;
    display: block;
    width: 158px;
    height: 31px;
    text-align: center;
    position: relative;
}
.globalnav-left li.current a.about::after {
    content: "";
    background-image: url("../image/global_nav_link_01.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 10px;
    width: 76px;
    left: 43px;
    top: 20px;
    background-position: 50% 100%;
}
.globalnav-left a.net::after {
    content: "";
    background-image: url("../image/global_nav_link_02.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 10px;
    width: 62px;
    top: 20px;
    left: 49px;
}
.globalnav-left a.commute::after {
    content: "";
    background-image: url("../image/global_nav_link_03.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 10px;
    width: 96px;
    top: 20px;
    left: 30px;
}
.globalnav-left a.alliance::after {
    content: "";
    background-image: url("../image/global_nav_link_04.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 10px;
    width: 90px;
    top: 20px;
    left: 34px;
}

/* currentページ、リンクモーション無効 */
.globalnav-left li.current a {
    pointer-events: none;
}

/* グローバルナビの枠の作成 */
.globalnav-left li {
    border-left: solid 1px #DDDDDD;
}
.globalnav-left li:last-child {
    border-right: solid 1px #DDDDDD;
}
.globalnav-left a:hover::after {
    background-position: 50% bottom;
}

/* グローバルナビ右側 */
.globalnav-right ul {
    display: flex;
    margin: 0;
    padding-left: 35px;
}
.globalnav-right li {
    border: solid 1px #333;
    margin-left: 10px;
}
.globalnav-right a {
    font-size: 15px;
    font-family: 'AxisStd-Regular';
    color: #1f286f;
    width: 170px;
    display: block;
    text-align: center;
    padding: 10px 0;
    position: relative;
    transition: background-color 0.2s;
    transition: color 0.2s;
}
.globalnav-right a::after {
    content: "";
    background-image: url("../image/icon_right_blue01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 9px;
    width: 7px;
    top: 15px;
    right: 10px;
}
/* マウスhoverアクション */
.globalnav-right a:hover {
    background-color: #1f286f;
    color: #FFFFFF;
}
.globalnav-right a:hover::after {
    background-image: url("../image/icon_right_white01.png");
}

/* ------ mainページ ------ */
/* N高about-menu(２段あるやつ) */
.nkou-image .nkou-about-menu  {
   position: relative;
    margin: 21px auto 0 auto;
    padding: 8px 0;
    width: 100%;
    background-color: #181836;
}
.nkou-image .nkou-about-menu ul {
    width: 1040px;
    display: flex;
    padding: 5px 5px 0 5px;
    margin: 0 auto;
}
.nkou-image .nkou-about-menu li {
    position: relative;
    padding-left: 27px;
}
.nkou-image .nkou-about-menu  .first-stage li:first-child {
    padding-left: 0;
}
.nkou-image .nkou-about-menu li.icon::before {
    content: "";
    background-image: url("../image/icon_backslash_black01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 10px;
    height: 16px;
    top: 8px;
    left: 8px;
    display: block;
}
.nkou-image .nkou-about-menu a {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'AxisStd-Light';
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 8px 8px;
    margin: 30px;
    transition: background-color 0.2s;
    transition: color 0.2s;
}
.nkou-image .nkou-about-menu a:first-child {
    margin: 0;
}
.nkou-image .nkou-about-menu ul.second-stage {
    padding-left: 27px;
}
.nkou-image .nkou-about-menu a:hover { 
    background-color: #FFFFFF;
    color: #181836;
}
.nkou-image {
    position: relative;
}
/* currentページとんがり矢印 */
.globalnav-current::after {
    content: "";
    position: absolute;
    top: 53px;
    left: 75px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #181836 transparent;
}

/* main N高の写真 */
.main-image {
   width: 100%;
   object-fit: cover;
   position: relative;
}
.about-pic-text {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    display: inline-block;
    text-align: center;
}
.about-pic-text h1 {
    font-size: 52px;
    font-weight: 400;
    letter-spacing: 0.3em;
    line-height: 94px;
    font-family: 'AxisStd-Light';
    color: #FFFFFF;
    margin: 0;
    position: relative;
}
.about-pic-text h1::after {
    content: "";
    border-bottom: solid 1px #FFFFFF;
    position: absolute;
    height: 1px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.about-pic-text span {
    margin-top: 30px;
    display: inline-block;
}

/* パンくずナビ */
.topic-path {
    width: 100%;
    border-bottom: solid 1px #EEEEEE;
    margin-bottom: 50px;
}
.topic-path ul {
    display: flex;
    width: 1040px;
    margin: 0 auto;
    padding: 17px 10px;
}
.topic-path li {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    font-family: 'AxisStd-Light';
}
.topic-path a {
    color: #36538d;
    line-height: 25px;
}

/* ------ 本文 ------*/
/* maintext */
.about-MainText {
    width: 1040px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
.about-MainText .MainText {
    text-align: center;
}
.about-MainText .MainText h1 {
    font-size: 33px;
    font-weight: 400;
    font-family: 'AxisStd-Light';
    letter-spacing: 0.2em;
    line-height: 59px;
    padding: 30px 0 45px 0;
}
.about-MainText .MainText h3 {
    font-size: 22px;
    font-weight: 400;
    font-family: 'AxisStd-Regular';
    letter-spacing: 0.1em;
    line-height: 40px;
    position: relative;
}
.about-MainText .MainText h3::after {
    content: "";
    border-bottom: #272727 1px solid;
    position: absolute;
    height: 1px;
    width: 210px;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.about-MainText .MainText p {
    line-height: 29px;
    font-family: 'AxisStd-Light';
    letter-spacing: 0.05em;
    margin-top: 20px;
    padding-bottom: 30px;
    display: inline-block;
    text-align: left;
}

/* 教育方針から下 */
.about-MainText .strong-p h1.title {
    font-size: 26px;
    font-family: 'AxisStd-Regular';
    line-height: 60px;
    letter-spacing: 0.05em;
    width: 300px;
    border-bottom: solid 2px #272727;
    margin-bottom: 0;
}
.about-MainText .nkou-policy ul {
    padding-left: 0;
}
.about-MainText .nkou-policy li {
    display: flex;
    align-items: center;
}
.about-MainText .nkou-policy h2 {
    font-size: 24px;
    font-family: 'AxisStd-Regular';
    width: 74px;
    text-align-last: justify;
}
.about-MainText .nkou-policy p.policy {
    font-size: 19px;
    line-height: 50px;
    font-family: 'AxisStd-Light';
    padding: 0 15px 0 15px;
    border-left: solid 1px #272727;
    margin-left: 15px;
    margin-top: 15px;
}
.nkou-policy {
    border-top: 1px solid #272727;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.nkou-policy img {
    margin-top: 40px;
    object-fit: cover;
}

/* N STANDARDSボタン */
.strong-p .standards-link a {
    width: 605px;
    display: flex;
    background-color: #F7F7F7;
    padding: 30px 35px 30px 40px;
    margin: 100px auto;
    border: solid 1px #DDDDDD;
    color: #272727;
}
.strong-p .standards-link a:hover .read-more,
.strong-p .standards-link a:hover .standards-link-btn {
    opacity: 0.7;
}
.strong-p .standards-link-text {
    margin-left: 20px;
}
.strong-p .standards-link-text h3 {
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Regular';
    margin: 0;
}
.strong-p .standards-link-text p {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.6px;
    font-family: 'AxisStd-Light';
    margin: 10px 0 20px 0;
    text-align: justify;
}
.strong-p .standards-link-text img.read-more {
    padding: 20px;
    display: block;
    background-image: url("../image/icon_right_blue01.png");
    background-repeat: no-repeat;
    background-size: 5px 10px;
    background-position: 0 20px;
}

/* N高の魅力 */
.strong-p .nkou-charm {
    border-top: #272727 1px solid;
}
.strong-p .nkou-charm h2 {
    font-size: 25px;
    line-height: 45px;
    font-family: 'AxisStd-Regular';
    letter-spacing: 0.05em;
    width: 480px;
    border-bottom: #272727 1px solid;
    margin: 0;
    padding: 0 0 25px 0;
}
.strong-p .nkou-charm p {
    line-height: 29px;
    font-family: 'AxisStd-Light';
    letter-spacing: 0.02em;
    width: 480px;
    margin-top: 10px;
}
.strong-p .nkou-charm p.small {
    font-size: 12px;
    line-height: 22px;
    font-family: 'AxisStd-Light';
}
.strong-p .nkou-charm .nkou-charm-A,
.strong-p .nkou-charm .nkou-charm-B {
    display: flex;
    justify-content: space-between;
    margin: 75px 0;
}

/* Basic Program */
.background-A {
    background-color: #F8F8F8;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
}
.Basic-Program {
    width: 1040px;
    margin: 70px auto;
}
.Program-top-text {
    text-align: center;
}
.Program-top-text h1 {
    font-size: 33px;
    font-family: 'AxisStd-Regular';
    line-height: 59px;
    letter-spacing: 0.04em;
    position: relative;
}
.Program-top-text h1::after {
    content: "";
    border-bottom: solid 1px #272727;
    position: absolute;
    height: 1px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.Program-top-text p {
    font-family: 'AxisStd-Light';
    line-height: 29px;
    letter-spacing: 0.02em;
    padding-top: 5px;
}

/* Basic Program 写真とテキストのところ */
.Program-content {
    display: flex;
    margin-bottom: 25px;
    padding: 45px 0 40px 0;
}
.Program-content-A .Program-content a {
    margin-left: 35px;
}
.Program-content-B .Program-content a {
    margin-right: 35px;
}
.Program-content a {
    margin-top: 3px;
}
.Program-content a.no-img {
    margin-top: 0;
}
.Program-content a:hover {
    opacity: 0.7;
}
.Program-content .Program-content-text {
    color: #272727;
}
.Program-content .Program-content-text h2 {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Regular';
    margin: 15px 0;
}
.Program-content .no-img h2 {
    margin-top: 0;
}
.Program-content .Program-content-text span {
    font-size: 13px;
}
.Program-content .Program-content-text p {
    line-height: 29px;
    letter-spacing: 0.6px;
    font-family: 'AxisStd-Light';
    text-align: justify;
    padding-top: 2px;
}
.Program-content-A .Program-content-text small {
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.02em;
    font-family: 'AxisStd-Light';
    display: block;
    padding-bottom: 15px;
}
.Program-content-B .Program-content-text small {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.04em;
    font-family: 'AxisStd-Light';
    display: block;
}
.Program-content .Program-content-text img.Basic-icon {
    display: inline-block;
    padding: 9px 9px 2px 9px;
    background-color: #272727;
}
.Program-content .Program-content-text img.read-more {
    padding: 20px;
    display: block;
    background-image: url("../image/icon_right_blue01.png");
    background-repeat: no-repeat;
    background-size: 5px 10px;
    background-position: 0 20px;
}
.Advanced-Program {
    margin: 70px 0;
}
.Program-area {
    width: 1040px;
    margin: 70px auto;
}
.Program-area h1.content-title {
    margin-bottom: 40px;
}
.banner {
    padding: 100px 0;
    margin-top: 10px 0;
}
.banner a:hover {
    opacity: 0.5;
}

/* ボックスのリンク */
.background-B {
    background-color: #F8F8F8;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-top: solid 1px #DDDDDD;
    padding-bottom: 5px;
}    
.box-link {
    width: 1040px;
    margin: 70px auto 80px auto;
}
.box-link ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin: 30px 0;
}
.box-link a {
    color: #272727;
    display: inline-block;
    background-color: #FFFFFF;
    width: 410px;
    padding: 0 25px;
}
.box-link li {
    background-image: url("../image/border_black.png");
    background-repeat: repeat;
    padding: 6px;
}
.box-link p {
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0.02em;
    font-family: 'AxisStd-Light';
    margin: 0;
}
.box-link small {
    display: block;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.03em;
}
.box-link a.box-1 {
    padding: 30px 43px 35px 25px;
}
.box-link a.box-2 {
    padding: 9px 43px 11px 25px;
}
.box-link a.box-3 {
    padding: 20px 42px 23px 25px;
}
.box-link a.box-4 {
    padding: 9px 42px 11px 25px;
}
/* マウスhoverアクション */
.box-link a:hover {
    background-image: url("../image/border_black.png");
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}
.box-link li:hover {
    opacity: 0.6;
}
.box-link a {
    position: relative;
}
.box-link a::after {
    content: "";
    background-image: url("../image/icon_right_blue01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 9px;
    width: 7px;
    top: 50%;
    right: 25px;
}

/*------ footerコーディング ------*/
/* N高についてさらに詳細を知りたい方はこちら */
#footer .background-img {
    background-image: url("../image/footer_bg.png");
    margin-top: 80px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.nkou-contact {
    width: 1040px;
    margin:0 auto;
    text-align: center;
    padding: 35px 0 5px 0;
}
.nkou-contact h3 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2em;
    font-family: 'AxisStd-Regular';
    margin: 0;
}
.nkou-contact .nkou-contact-link {
    display: flex;
    justify-content: center;
}
.nkou-contact .nkou-contact-link ul{
    padding-left: 0;
    margin: 20px 0;
}
.nkou-contact .nkou-contact-link ul a {
    color: #272727;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Regular';
    background-color: #FFFFFF;
    display: inline-block;
    width: 258px;
    padding: 14px 0;
    position: relative;
    transition: background-color 0.2s;
    transition: color 0.2s;
}
.nkou-contact .nkou-contact-link ul a.book::before {
    content: "";
    background-image: url("../image/icon_book_black.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 29px;
    width: 29px;
    top: 14px;
    left: 20px;
}
.nkou-contact .nkou-contact-link ul a.balloon::before {
    content: "";
    background-image: url("../image/icon_balloon_black.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 29px;
    width: 29px;
    top: 14px;
    left: 20px;
}
.nkou-contact .nkou-contact-link ul a::after {
    content: "";
    background-image: url("../image/icon_right_black01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 13px;
    width: 7px;
    top: 20px;
    right: 15px;
}
.nkou-contact .nkou-contact-link li {
    padding: 7px 0;
}
.nkou-contact .nkou-contact-tel {
    display: block;
    margin: 35px 0  0 40px;
}
.nkou-contact .nkou-contact-tel a.web-contact {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Regular';
    display: inline-block;
    border: solid 1px #FFFFFF;
    padding: 10px 36px;
    margin: 7px 0 0 40px;
    position: relative;
}
.nkou-contact .nkou-contact-tel a.web-contact::after {
    content: "";
    background-image: url("../image/icon_right_white01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 9px;
    width: 7px;
    top: 15px;
    right: 10px;
}
.nkou-contact .nkou-contact-tel p {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Regular';
    margin: 5px 0 10px 40px;
}
.nkou-contact .nkou-contact-link ul a {
    transition: background-color 0.2s;
    transition: color 0.2s;
}
.nkou-contact .nkou-contact-link ul a:hover,
.nkou-contact .nkou-contact-tel a.tel-link:hover {
    opacity: 0.7;
}
.nkou-contact .nkou-contact-tel a.web-contact:hover {
    text-decoration: underline;
}
.topic {
    width: 1040px;
    margin: 0 auto;
    padding: 25px 0;
    border-bottom: solid 1px #EEEEEE;
}
.topic ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.topic a {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.05em;
    font-family: 'AxisStd-Regular';
    color: #272727;
    display: inline-block;
    width: 257px;
    border: solid 1px #272727;
    text-align: center;
    padding: 7px 0;
    margin: 0 17px;
    position: relative;
}
.topic a::after {
    content: "";
    background-image: url("../image/icon_right_blue01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 10px;
    width: 7px;
    top: 16px;
    right: 13px;
}
.topic a:hover {
    color: #FFFFFF;
    background-color: #272727;
}
.topic a:hover::after {
    background-image: url("../image/icon_right_white01.png");
}
.External-part {
    width: 1040px;
    margin: 40px auto;
}
.External-part p {
    line-height: 22px;
    font-family: 'AxisStd-Light';
    letter-spacing: 0.03em;
    text-align: center;
}
.External-part a {
    color: #272727;
    display: inline-block;
    background-color: #FFFFFF;
    width: 476px;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
.External-part a::after {
    content: "";
    background-image: url("../image/icon_right_blue01.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 10px;
    width: 7px;
    top: 45px;
    right: 22px;
}
.External-part a:hover {
    background-image: url("../image/border_black.png");
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
}
.External-part li:hover {
    opacity: 0.7;
}
.External-part a.box-1 {
    padding: 17px 0 13px 0;
}
.External-part ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 30px;
}
.External-part li {
    background-image: url("../image/border_black.png");
    background-repeat: repeat;
    padding: 6px;
}
.External-part span {
    display: block;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Light';
    padding: 7px 0;
}

/* footerナビ */
.footer-nav {
    width: 1040px;
    margin: 0 auto;
    padding-top: 35px;
}
.footer-nav .footer-nav-top {
    display: flex;
    justify-content: space-between;
}
.footer-nav .footer-nav-top ul {
    display: flex;
    padding-left: 0;
    margin: 20px 0 10px 0;
}
.footer-nav .footer-nav-top li {
    padding-right: 25px;
    position: relative;
}
.footer-nav .footer-nav-top img {
    padding-right: 50px;
}
.footer-nav .footer-nav-top li.border::after {
    content: "|";
    position: absolute;
    width: 0.5px;
    height: 6px;
    top: -1px;
    right: 13px;
}
.footer-nav .footer-nav-top a {
    color: #000066;
    font-family: 'AxisStd-Regular';
    line-height: 16px;
    letter-spacing: 0.03em;
}
.footer-nav .footer-nav-top a:hover {
    text-decoration: underline;
}

/* footerナビリンクたち */
.footer-nav-main {
    display: flex;
    width: 1040px;
    margin: 20px auto 20px auto;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 30px;
}
.footer-nav-main ul {
    padding-left: 0;
    width: 192px;
    margin-right: 20px;
    margin-bottom: 8px;
}
.footer-nav-main .footer-nav-main-E ul {
    margin-right: 0;
}
.footer-nav-main li {
    padding-bottom: 9px;
}
.footer-nav-main li.title a {
    font-size: 16px;
    line-height: 20px;
    color: #000066;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Regular';
}
.footer-nav-main a.Advanced-Program {
    position: relative;
}
.footer-nav-main a.Advanced-Program::before {
    content: "アドバンスト プログラム";
    font-size: 11px;
    position: absolute;
    left: 0;
    top: -20px;
}
.footer-nav-main a {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-family: 'AxisStd-Light';
    color: #272727;
}
.footer-nav-main a:hover,
.footer-nav-main a.Advanced-Program:hover::before {
    text-decoration: underline;
}
.footer-nav-main ul.space {
    border-top: 1px solid #DDDDDD;
    margin-top: 0;
    padding-top: 22px;
}
.footer-nav-main span {
    font-size: 12px;
}

/* footer一番下 */
.footer-bottom {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-left {
    padding-top: 17px;
}
.footer-bottom-left a {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #272727;
    font-family: 'AxisStd-Light';
    padding-right: 10px;
}
.footer-bottom-left a:hover {
    text-decoration: underline;
}
.footer-bottom .footer-sns-btn ul {
    display: flex;
    padding-left: 0;
    margin: 0;
}
.footer-bottom .footer-sns-btn a {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #272727;
    font-family: 'AxisStd-Light';
    display: inline-block;
    padding: 10px 30px 10px 10px;
    display: flex;
    position: relative;
}
.footer-bottom .footer-sns-btn a.border {
    border-right: #DDDDDD 1px solid;
}
.footer-bottom .footer-sns-btn p {
    margin: 0 0 0 5px;
}
.footer-bottom .footer-sns-btn a::after {
    content:"＞";
    font-size: 10px;
    position: absolute;
    color: #CCCCCC;
    top: 16px;
    right: 8px;
}
.footer-bottom .footer-sns-btn a:hover {
    background-color: #EEEEEE;
}
.background-C {
    background-color: #F8F8F8;
    margin-top: 70px;
    padding-bottom: 28px;
}
.background-D {
    background-color:#272727;
    padding: 16px;
}
#footer .page-foot {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#footer .page-foot a {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #AAAAAA;
    font-family: 'AxisStd-Regular';
}
#footer .page-foot a:hover {
    text-decoration: underline;
}
.page-foot p.copyright {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #AAAAAA;
    font-family: 'AxisStd-Regular';
    margin: 0;
}
